:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'NanoLine';
  src: url('/fonts/nanoline/Y1NanoLine-RegularDisplay.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NanoLine';
  src: url('/fonts/nanoline/Y1NanoLine-SlimDisplay.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NanoLine';
  src: url('/fonts/nanoline/Y1NanoLine-SolidDisplay.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

.font-nanoline-slim {
  font-family: 'NanoLine';
  font-weight: 300; /* Slim Display */
}

.font-nanoline-regular {
  font-family: 'NanoLine';
  font-weight: 400; /* Regular Display */
}

.font-nanoline-solid {
  font-family: 'NanoLine';
  font-weight: 700; /* Solid Display */
}

body {
  color: var(--foreground);
  background: var(--background);
  background: url('/images/fallback.png') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;